.App {
  display: block;
  text-align: center;
  margin: auto;
  width: 95%;
  max-width: 500px;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
}

.title {
  font-size: 40px;
}

.user-pic {
  width: 100px;
  height: 100%;
  margin-left: 15px;
}

.user-select-area {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 460px) {
  .title {
    font-size: 35px;
  }
  .user-pic {
    width: 87px;
    height: 100%;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .title {
    font-size: 30px;
  }
  .user-pic {
    width: 75px;
    height: 100%;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 374px) {
  .title {
    font-size: 25px;
  }
  .user-pic {
    width: 63px;
    height: 100%;
    margin-left: 15px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
}

.article {
  border: 2px solid black;
  list-style-type: none;
  margin-bottom: 10px;
}

.article-title {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.article-body {
  margin-bottom: -20px;
}

.article-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -20px;
  margin-bottom: -15px;
}

.votesComments {
  display: flex;
  align-items: inherit;
  justify-content: space-between;
}

.voteButton {
  font-size: 10px;
  margin: 0px;
  padding: 10px;
  background-color: transparent;
  border: none;
}

.articles {
  padding: 0px;
}

.comments {
  padding: 0px;
}

.commentTopBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.commentHeader {
  text-align: left;
}

.commentSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment {
  border-bottom: 2px solid black;
}

.comment-body {
  margin-bottom: -10px;
}

#commentbody {
  width: 300px;
  height: 50px;
}

.post-comment {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 120px;
  justify-content: space-between;
  margin-top: -20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.commentErrMsg {
  color: red;
  margin-top: -30px;
  margin-bottom: 25px;
}

.delete-button {
  margin-bottom: 25px;
}

.deleted-message {
  border-bottom: 2px solid black;
}

.credentials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 2px solid black;
}

.detailedVoteButton {
  margin-top: 19px;
  height: 15px;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
}

p {
  font-size: 14px;
}
.errmsg {
  color: red;
}
