.App {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  max-width: 500px;
}

.select-user {
  margin-top: 26px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  max-width: 500px;
}

.article {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 500px;
}

.article-title {
  margin-top: 5px;
}

.article-body {
  margin-bottom: -20px;
}

.article-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space;
  margin-top: -20px;
  margin-bottom: -20px;
}

.votesComments {
  display: flex;
  align-items: inherit;
  justify-content: space-between;
}

.voteButton {
  font-size: 10px;
  margin: 0px;
  padding: 10px;
  background-color: transparent;
  border: none;
}

.articles {
  padding: 0px;
}

.comments {
  padding: 0px;
}

.commentTopBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.commentHeader {
  text-align: left;
}

.commentSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment {
  border-bottom: 2px solid black;
}

.comment-body {
  margin-bottom: -10px;
}

#commentbody {
  width: 300px;
  height: 50px;
}

.post-comment {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 120px;
  justify-content: space-between;
  margin-top: -20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.commentErrMsg {
  color: red;
  margin-top: -30px;
  margin-bottom: 25px;
}

.delete-button {
  margin-bottom: 25px;
}

.deleted-message {
  border-bottom: 2px solid black;
}

.credentials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
}

.detailedVoteButton {
  margin-top: 19px;
  height: 15px;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
}

p {
  font-size: 14px;
}
.errmsg {
  color: red;
}
