.App {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}

.article {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.article-topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -20px;
}

.votesComments {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.voteButton {
  font-size: 10px;
  margin: 0px;
  padding: 10px;
  background-color: transparent;
  border: none;
}

.articles {
  padding: 0px;
}

.comments {
  padding: 0px;
}

.commentTopBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.commentHeader {
  text-align: left;
}

.credentials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
}

.detailedVoteButton {
  margin-top: 19px;
  height: 15px;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
}

p {
  font-size: 14px;
}
